<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: headerfiles">
    <!--TEST-->
</head>
<body>
<nav th:insert="fragments/general.html :: navbar"></nav>
<div class="container">

    <th:block th:insert="fragments/general :: alert">
    </th:block>

    <div id="history">
    </div>

    <form id="newCmd" onsubmit="runCmd()">
        <input type="Text" />
        <input type="Submit">
    </form>

</div>
</body>
</html>