<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="0; URL='/user'" http-equiv="refresh"/>
    <link as="style" rel="prefetch" th:href="${@environment.getProperty('bootstrap.link') + 'css/bootstrap.css'}"/>
    <link as="style" rel="prefetch" th:href="@{general.css}"/>
    <link as="script" rel="prefetch" th:href="${@environment.getProperty('jquery.link')}"/>
    <link as="script" rel="prefetch"
          th:href="${@environment.getProperty('bootstrap.link') + 'js/bootstrap.bundle.js'}"/>
</head>
<body>



</body>
</html>