<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: headerfiles">
</head>
<body>
<nav th:insert="fragments/general.html :: navbar"></nav>
<div class="container">
    <th:block th:insert="fragments/general :: alert">
    </th:block>
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Create new Room</h3>
        </div>
        <div class="card-body">
            <form class="form" method="post" role="form" autocomplete="off">
                <div class="form-group">
                    <label>Room Name
                    <input type="text" class="form-control" name="name" required="">
                    </label>
                </div>
                <div class="form-group">
                    <label>Width in meters
                    <input type="number" class="form-control" name="width" >
                    </label>
                </div>
                <div class="form-group">
                    <label>Height in Meters
                    <input type="number" class="form-control" name="height" >
                    </label>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>