<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: headerfiles">
    <!--TEST-->
</head>
<body>
<script>
    //setTimeout(load,0);
    window.onload = setTimeout(load, 300);

    function load() {
        console.log("document.onload fired!");
        var table = $(".table");
        console.log(table);
        table.editableTableWidget();
        table.on('change', function (evt, newValue) {
            // do something with the new cell value
            // TODO: Submit value to db
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var params = "?name=".concat(evt.target.parentNode.firstElementChild.innerText) + "&value=".concat(newValue);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/updateSiteSettings".concat(params), true);
            xhr.withCredentials = true;
            xhr.setRequestHeader(header, token);
            xhr.send();
            xhr.onload = function () {

            }
</script>
<nav th:insert="fragments/general :: navbar"></nav>
<div class="container">
    <div class="col-lg-12 text-center">
        <div id="alert"></div>
        <table data-pagination="true"
               data-search="true"
               data-toggle="table"
               data-url="/Sitejson?type=data"
        >
            <thead>
            <tr>
                <th:block th:each="header : ${headers}">
                    <th th:attr="${header.attr}" th:text="${header.name}"></thth>
                </th:block>
                <th data-field="Name" data-sortable="true">Setting</th>
                <th data-field="Value">Value</th>
            </tr>
            </thead>
        </table>
        <!--TODO: Implement update -->
    </div>
</div>
</body>
</html>